# Ignore everything
src-tauri
node_modules
# But not these files...
!index.html
!nodemon.json
!package.json
!postcss.config.js
!README.md
!tailwind.config.js
!vite.config.js


# Ensure .gitignore is not ignored
!.gitignore
.gitattributes