# Ignore everything
*

# But not these files...
!Server/
!src/
!index.html
!nodemon.json
!package.json
!postcss.config.js
!README.md
!tailwind.config.js
!vite.config.js


# Ensure .gitignore is not ignored
!.gitignore
.gitattributes